{% if first %}
  <div class="slideshowItem noSlide firstSlide">
    <img alt="{{ entry.imageDescription }}"
      src="{{ entry.backgroundImage.one.url }}"
      width="1920"
      height="1080" />
    <div class="Info {{ entry.align == 'textAlignRight' ? 'right' : 'left' }}">
      <h1>
        {{ entry.title }}
      </h1>
      {{ entry.text }}
    </div>
  </div>
{% else %}
  <div class="slideshowItem noSlide">
    <img alt="{{ entry.imageDescription }}"
      src="{{ entry.backgroundImage.one.url }}"
      width="1920"
      height="1080" />
    <div class="Info {{ entry.align == 'textAlignRight' ? 'right' : 'left' }}">
      <h1>
        {{ entry.title }}
      </h1>
      {{ entry.text }}
    </div>
  </div>
{% endif %}
