{% set collaborator =
  craft.entries.section('currentCollaborators').id(collaboratorID).one()
%}
<ul>
  <li id="{{ collaborator.slug }}">
    {% if anyVisible == true %}
      <h2>
        {{ collaborator.title }}
      </h2>
      {% if
        collaborator.isFieldEmpty('labMemberDepartment') == false
          and collaborator.isFieldEmpty('university') == false %}
        <p>
          {{ collaborator.labMemberDepartment.one.title }}, {{
            collaborator.university.one.title
          }}
        </p>
      {% elseif
        collaborator.isFieldEmpty('labMemberDepatment')
          and collaborator.isFieldEmpty('university') == false %}
        <p>
          {{ collaborator.university.one.title }}
        </p>
      {% elseif
        collaborator.isFieldEmpty('labMemberDepartment') == false
          and collaborator.isFieldEmpty('university') %}
        {{ collaborator.labMemberDepartment.one.title }}
      {% endif %}
      <h3>
        Project:
      </h3>
      {% if collaborator.project %}
        {% for proj in collaborator.project %}
          {% if proj.type == 'projectEntry' %}
            <a href="/#{{ proj.projectEntrySelection.title }}">
              <p>
                {{ proj.projectEntrySelection.title }}
              </p>
            </a>
          {% elseif proj.type == 'projectName' %}
            <p>
              {{ proj.projectNameText }}
            </p>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  </li>
</ul>
