{% set collaborators = craft.entries.section('currentCollaborators') %}
{% set anyVisible = anyVisible|default(false) %}

{% if collaborators %}
  {% if anyVisible == false %}
    <section id="current-collaborators" sprig s-trigger="intersect threshold:0 consume" s-val:anyVisible={{true}}>
      {# <section id="current-collaborators"> #}
      <div class="sectionBannerText">
        <h1>
          Current Collaborators
        </h1>
      </div>
      <div class="currentLabMembers" style="min-height: 50vh">
        <div class="labMember">
          <div class="labMemberInfo labMemberList">
            {# <ul> #}
              {% for collaborator in collaborators|reverse %}
                {{
                  sprig(
                    'modules/_collaboratorListItem',
                    {
                      collaboratorID: collaborator.id,
                      anyVisible: anyVisible
                    }
                  )
                }}
                {{ sprig.script }}
              {% endfor %}
            {# </ul> #}
          </div>
        </div>
        <div class="LoadingBox">
            <div style="height: 100%;" class="Loading paused" sprig s-trigger="intersect threshold:0.25 consume" s-val:anyVisible={{true}}>
            {# <div style="height: 100%;" class="Loading paused"> #}
            <div class="inner">
                <div class="lds-roller" data-animation><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
      </div>
    </section>
  {% else %}
      <section id="current-collaborators">
      <div style="margin-top: 0px;" class="sectionBannerText">
        <h1>
          Current Collaborators
        </h1>
      </div>
      <div class="currentLabMembers">
        <div class="labMember">
          <div class="labMemberInfo labMemberList">
            {# <ul> #}
              {% for collaborator in collaborators|reverse %}
                {{
                  sprig(
                    'modules/_collaboratorListItem',
                    {
                      collaboratorID: collaborator.id,
                      anyVisible: anyVisible
                    }
                  )
                }}
                {{ sprig.script }}
              {% endfor %}
            {# </ul> #}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endif %}
