{% set labMemberCategories = craft.categories().group('labMemberCategory') %}
{% set pastLabMemberCategories =
  craft.categories().group('pastMemberCategory')
%}
{% set publicationYears = craft.categories().group('publicationYear') %}
{% set currentCollaborators =
  craft.entries.section('currentCollaborators').count()
%}
<header class="topnav" id="navbar">
  {# <div > #}
  <a href="/" class="logo active">
    <h1>
      the banzi-lab
    </h1>
  </a>
  <div class="navButtons" id="navButtons">
    <div class="dropdown buttonOuter {{ route == '/publications' ? 'active' }}">
      <a href="/publications">
        <button class="dropbtn inner">Publications</button>
      </a>
      <div class="chevron" onclick="expandDropdown()">
        <span>&#10094;</span>
      </div>
      <div class="dropdown-content">
        {% if publicationYears %}
          {% for year in publicationYears.all() %}
            {% set sectionPublications =
              craft.entries.section('publication').relatedTo(year)
            %}
            {% if sectionPublications.count > 0 %}
              <a onclick="toggleHamburger()"
                href="/publications#{{ year.slug }}">
                {{ year }}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="dropdown buttonOuter {{ route == '/about' ? 'active' }}">
      <a href="/about"><button class="dropbtn inner">About</button></a>
      <div class="chevron" onclick="expandDropdown()">
        <span>&#10094;</span>
      </div>
      <!-- Dropdown items for about sections. -->
      <div class="dropdown-content">
        {% if labMemberCategories %}
          {% for category in labMemberCategories.all() %}
            {% if
              craft.entries.section('labMemberProfile').relatedTo(
                category
              ).count()
                > 0 %}
              <a onclick="toggleHamburger()" href="/about#{{ category.slug }}">
                {{ category }}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if labMemberCategories %}
          {% for category in pastLabMemberCategories.all() %}
            {% if
              craft.entries.section('pastLabMembers').relatedTo(
                category
              ).count()
                > 0 %}
              <a onclick="toggleHamburger()" href="/about#{{ category.slug }}">
                {{ category }}
              </a>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if currentCollaborators > 0 %}
          <a href="/about#current-collaborators">Current Collaborators</a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- hamburger element to display nav items when viewing the site in mobile -->
  <div class="icon" onclick="toggleHamburger()">
    ≡
  </div>
  {# </div> #}
</header>
