{% set visible = visible|default(false) %}
{# {% set visible = false %} #}

{% set labMember = craft.entries.section('labMemberProfile').id(labMember).with('labMemberProfilePicture').one() %}
<div class="labMember" id="{{ labMember.slug }}">
{% if visible == true %}
  <div class="profilePic">
    {% set image = labMember.labMemberProfilePicture[0] ?? null %}
        <img alt="Default profile photo." class="parallax" src={{image.url|default("/assets/images/defaultProfile.svg")}}>
    </div>
    <div class="labMemberInfo right">
        <div class="inner intro">
        {% if category == 'principle-investigators' or category == 'post-doctoral-fellows' %}
            <h1>
                 Dr. {{labMember.title}}
            </h1>
            {% else %}
            <h1>
                {{labMember.title}}
            </h1>
            {% endif %}
            {{labMember.labMemberDescription}}
            {% for cvBlock in labMember.cv.all() %}
            {% if cvBlock.type == 'cvFile' %}
            <p class="intro">File</p>
            {% elseif cvBlock.type == 'cvLink' %}
            <p class="intro"><b>CV: </b><a href="{{cvBlock.cvUrl}}">
                {{cvBlock.cvUrl}}
            </a></p>
            {% endif %}
            {% endfor %}
            {% if labMember.isFieldEmpty('emailAddress') == false %}
            <p class="intro"><b>Email: </b>{{labMember.emailAddress}}</p>
            {% endif %}
            {% for blockType in labMember.socialMediaLinks.all() %}
            <p class="intro"><b>{{blockType.type.handle}}: </b><a
                href="{{blockType.smLink}}">{{blockType.smLink}}</a></p>
            {% endfor %}
            {% if labMember.isFieldEmpty('researchGateLink') == false %}
            <p class="intro"><b>Research Gate: </b><a
                href="{{labMember.researchGateLink}}">{{labMember.researchGateLink}}</a></p>
            {% endif %}
            {% for blockType in labMember.labMemberResearchTopic.all() %}
            {% if blockType.type == "researchTopic" %}
                    <h2>Research Topic:</h2>
                    <p class="topic">{{blockType.topic}}</p>
                {% elseif blockType.type == "phdTopic" %}
                    <h2>PhD Topic:</h2>
                    <p class="topic">{{blockType.topic}}</p>
                {% elseif blockType.type == "mastersTopic" %}
                    <h2>Masters Topic:</h2>
                    <p class="topic">{{blockType.topic}}</p>
                {% elseif blockType.type == "postDoctoralFocusTopic" %}
                    <h2>Post Doctoral Focus:</h2>
                    <p class="topic">{{blockType.topic}}</p>
                {% elseif blockType.type == "appliedStudyTopic" %}
                    <h2>Applied Study Topic:</h2>
                    <p class="topic">{{blockType.topic}}</p>
                {% endif %}
            {% endfor %}
            {% if labMember.isFieldEmpty('labMemberFieldSite') == false %}
                <h2>Fieldsite: </h2>
                <p class="topic">
                {% for site in labMember.labMemberFieldSite %}
               <a href="/#{{site.slug}}">{{site.title}}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                </p>
            {% endif %}

            {% if (labMember.isFieldEmpty("labMemberDepartment") == false) and
                labMember.isFieldEmpty('labMemberCenter') == false %}
                <h2>Centre:</h2>
                <p class="topic">{{labMember.labMemberDepartment.one.title}}, {{labMember.labMemberCenter.one.title}}</p>

            {% elseif (labMember.isFieldEmpty("labMemberDepartment") == false) and
                labMember.isFieldEmpty('labMemberCenter') %}
                <h2>Department:</h2>
                <p class="topic">{{labMember.labMemberDepartment.one.title}}</p>

            {% elseif (labMember.isFieldEmpty("labMemberDepartment")) and
                labMember.isFieldEmpty('labMemberCenter') == false %}
                <h2>Centre:</h2>
                <p class="topic">{{labMember.labMemberCenter.one.title}}</p>
            {% endif %}
        </div>
    </div>
    <script>
       parallaxify()
    </script>
    {% else %}
  <div class="Loading" sprig s-trigger="intersect threshold:0.5 consume" s-val:visible={{true}}>
    <div class="inner">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
