{% set visible = anyVisible|default(false) %}
<ul>
  <li id="{{ labMemberID }}">
    {% if anyVisible == true %}
      {% set labMember =
        craft.entries.section('pastLabMembers').id(labMemberID).one()
      %}
      <h2>
        {{ labMember.title }}
      </h2>
      {% if
        labMember.startYear
          and labMember.endYear
          and labMember.educationAchieved.first %}
        <p>
          {{ labMember.educationAchieved.first }} ({{ labMember.startYear }} - {{
            labMember.endYear
          }})
        </p>
        {% if labMember.whoAreThey %}
          <p>
            {{ labMember.whoAreThey }}
          </p>
        {% endif %}
      {% elseif labMember.endYear and labMember.educationAchieved.first %}
        <p>
          {{ labMember.educationAchieved.first }} ({{ labMember.endYear }})
        </p>
        {% if labMember.whoAreThey %}
          <p>
            {{ labMember.whoAreThey }}
          </p>
        {% endif %}
      {% elseif
        labMember.whoAreThey and labMember.startYear and labMember.endYear %}
        <p>
          {{ labMember.whoAreThey }} ({{ labMember.startYear }} - {{
            labMember.endYear
          }})
        </p>
      {% elseif labMember.whoAreThey and labMember.endYear %}
        <p>
          {{ labMember.whoAreThey }} ({{ labMember.endYear }})
        </p>
      {% elseif labMember.startYear and labMember.endYear %}
        <p>
          {{ labMember.startYear }} - {{ labMember.endYear }}
        </p>
      {% elseif labMember.endYear %}
        <p>
          {{ labMember.endYear }}
        </p>
      {% endif %}
      {% if labMember.now %}
        <p>
          <b>Now:</b> {{ labMember.now }}
        </p>
      {% endif %}

      {% if
        labMember.isFieldEmpty('labMemberDepartment') == false
          and labMember.isFieldEmpty('university') == false %}
        <p>
          {{ labMember.labMemberDepartment.one.title }}, {{
            labMember.university.one.title
          }}
        </p>
      {% elseif
        labMember.isFieldEmpty('labMemberDepartment')
          and labMember.isFieldEmpty('university') == false %}
        <p>
          {{ labMember.university.one.title }}
        </p>
      {% elseif
        labMember.isFieldEmpty('labMemberDepartment') == false
          and labMember.isFieldEmpty('university') %}
        {{ labMember.labMemberDepartment.one.title }}
      {% endif %}
    {% endif %}
  </li>
</ul>
