{% set pastMembers = craft.entries.section('pastLabMembers') %}
{% set allCategories = craft.categories().group('pastMemberCategory') %}
{% set anyVisible = anyVisible|default(false) %}
<h1 class="sectionTitle" id="Publications">
  Alumni
</h1>
{% for category in allCategories %}
  {% set sectionMembers =
    pastMembers.order('endYear').relatedTo(category).all
  %}
  {# <p>{{category}}</p> #}
  {% if sectionMembers %}
    {% if anyVisible == false %}
    <section id="{{ category.slug }}" sprig s-trigger="intersect threshold:0 consume" s-val:anyVisible={{true}}>
      <div class="sectionBannerText">
        <h1>
          {{ category }}
        </h1>
      </div>
      <div class="currentLabMembers">
        <div class="labMember">
          <div class="labMemberInfo labMemberList">
            {# <ul> #}
              {% for labMember in sectionMembers|reverse %}
                {{
                  sprig(
                    'modules/_pastLabMembersSectionComponent',
                    {
                      labMemberID: labMember.id,
                      anyVisible: anyVisible
                    }
                  )
                }}
                {{ sprig.script }}
              {% endfor %}
            {# </ul> #}
          </div>
        </div>
        <div class="LoadingBox">
             <div style="height: 100%;" class="Loading paused" sprig s-trigger="intersect threshold:0.25 consume" s-val:visible={{true}}>
        <div class="inner">
            <div class="lds-roller" data-animation><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
      </div>
      </div>
    </section>
    {% else %}
          <section id="{{ category.slug }}">
      <div class="sectionBannerText">
        <h1>
          {{ category }}
        </h1>
      </div>
      <div class="currentLabMembers">
        <div class="labMember">
          <div class="labMemberInfo labMemberList">
            {# <ul> #}
              {% for labMember in sectionMembers|reverse %}
                {{
                  sprig(
                    'modules/_pastLabMembersSectionComponent',
                    {
                      labMemberID: labMember.id,
                      anyVisible: anyVisible
                    }
                  )
                }}
                {{ sprig.script }}
              {% endfor %}
            {# </ul> #}
          </div>
        </div>

      </div>

    </section>
    {% endif %}
  {% endif %}
{% endfor %}
