{% set visible = visible|default(false) %}
{% set defaultCoverPhoto = craft.entries.section('defaultPublicationImage').with(['defaultPublicationImage']).one|default(null) %}
<div class="publication">
{% if visible == true %}
{% set publication = craft.entries.section('publication').id(publicationID).with(['publicationCoverImage']).one() %}
{% set publicationAuthors = publication.authors %}
<div>
{% set img = publication.publicationCoverImage[0] ?? null %}
{% set defaultImg = defaultCoverPhoto.defaultPublicationImage[0] ?? null %}
  {% if img %}
    {# {% for img in publication.publicationCoverImage.all %} #}
    <img loading="lazy" alt="cover photo." src="{{ img.url }}" onclick="togglePublicationInfo('{{ publication.slug }}')"/>
    {# {% endfor %} #}
  {% elseif publication.isFieldEmpty('journalName') == false %}
    {% for j in publication.journalName.all %}
      {% if j.isFieldEmpty('defaultPublicationCoverImage') == false %}
        {% for img in j.defaultPublicationCoverImage.all %}
          <img alt="cover photo." src="{{ img.url }}" />
        {% endfor %}
      {% elseif not defaultCoverPhoto == null %}
        <img alt="cover photo." src="{{defaultImg.url}}" />
      {% else %}
        <img alt="cover photo."
          src="assets/Images/Publications/NoCover.svg"
           />
      {% endif %}
    {% endfor %}
  {% else %}
    <img alt="cover photo."
      src="assets/Images/Publications/NoCover.svg"
       />
  {% endif %}
    {% else %}
     <div style="height: 100%;" class="Loading paused" sprig s-trigger="intersect threshold:0.25 consume" s-val:visible={{true}}>
        <div class="inner">
            <div class="lds-roller" data-animation><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
  {% endif %}
  <div class="publicationInfo minimized right" id="{{ publicationSlug }}">
    {% if visible == true %}
    <div class="expand"
      onclick="togglePublicationInfo('{{ publication.slug }}')">
      <div>
        &#10094;
      </div>
    </div>
    <div class="inner intro" style="grid-column: span 4;">
      <a rel="noopener" href="{{publication.doi}}">
      <h1>
        {{ publication.title }}
      </h1>
      </a>
      <p>
        {% for author in publicationAuthors.all() %}
          {% if author.type == 'labMember' %}
            {% set lma = author.labMemberAuthor.one %}
            {# {% if lma.isFieldEmpty('preferredCitationName') == false %}
              <a href="/about#{{ lma.slug }}">
                {{ lma.preferredCitationName }}
              </a>{% if not loop.last %}, {% endif %}
            {% else %} #}
              <a href="/about#{{ lma.slug }}">
                {% for n in lma.title|split(' ') %}
                  {% if not loop.last %}
                    {{ n|first }}.
                  {% else %}
                    {{ n }}
                  {% endif %}
                {% endfor %}
              </a>{% if not loop.last %}, {% endif %}
            {# {% endif %} #}
          {% elseif author.type == 'nonLabMember' %}
            {{ author.authorName }}{% if not loop.last %}, {% endif %}
          {% endif %}
        {% endfor %}
      </p>
    </div>
    <div class="inner hidden" style=" grid-column: 1 / span 6; ">
    <div>
      <h2>Abstract:</h2>
        {% if publication.isFieldEmpty('abstract') == false %}
        {{ publication.abstract }}
        {% else %}
        <p>Abstract not available.<p>
        {% endif %}
        <div class="citationTitleBox">
        <h2>Citation:</h2><span onclick="copyToClipboard(this.parentElement.nextElementSibling);"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"></path></svg></span>
        </div>
            <div class="citation" onclick="copyToClipboard(this);"> 
                {% if publication.isFieldEmpty('manualCitation') == false %}
                {{publication.manualCitation}}
                {% else %}
                <p>
                {% for author in publicationAuthors.all() %}
                {% if author.type == 'labMember' %}
                    {% set auth = author.labMemberAuthor.one %}
                    {% if auth.isFieldEmpty('preferredCitationName') == false %}
                    {{auth.preferredCitationName}}{% if loop.length <=2 and not loop.last %} &{% elseif loop.length - loop.index == 1 %} & {% elseif not loop.last %}, {% else %}. {% endif %}
                    {% else %}
                    {{auth.title|split(" ")|last }}, {% for n in auth.title|split(" ") %}{% if not loop.last %}{{n|first}}.{% endif %}{% endfor %}{% if loop.length <=2 and not loop.last %} &{% elseif loop.length - loop.index == 1 %} & {% elseif not loop.last %}, {% else %} {% endif %}
                    {% endif %}
                {% elseif author.type == 'nonLabMember' %}
                {{author.authorName|split(". ")|last}}, {% for I in author.authorName|split(". ") %}{% if not loop.last %}{{I}}.{% endif %}{% endfor %}{% if loop.length <=2 and not loop.last %} &{% elseif loop.length - loop.index == 1 %} & {% elseif not loop.last %}, {% else %} {% endif %}
                {% endif %}
                {% endfor %}
                {% if publication.isFieldEmpty('bookChapter') == false %}
                ({{publication.publicationYear.one}}). {{publication.title}}. In: {{publication.journalName.one}}. {% for bk in publication.bookChapter.all() %}{% if bk.isFieldEmpty('editors') == false %}(eds. {{bk.editors}}){% if publication.isFieldEmpty('pageRange') == false %}, pp. {{publication.pageRange}}.{% else %}. {% endif %} {% if bk.isFieldEmpty('publisher') == false %}{{bk.publisher.one}}. {% endif %} {% endif %}{% endfor %}
                {% else %}
                ({{publication.publicationYear.one}}). {{publication.title}}. <i>{{publication.journalName.one}}</i>{% if publication.isFieldEmpty('volume') == false  %}, <i>{{publication.volume}}</i>{% if publication.isFieldEmpty('issue') == false  %}({{publication.issue}}){% else %}{% endif %}{% if publication.isFieldEmpty('pageRange') == false %}, {{publication.pageRange}}.{% else %}.{% endif %}{% else %}.{% endif %}
                {% endif %}
                {{publication.doi}}
                </p>
                {% endif %}
            </div>
        </div>
                        {% if publication.isFieldEmpty('comment') == false %}
                    {% for com in publication.comment.all() %}
                        <p><b>Comment: </b><a rel="noopener" href="{{com.commentLink}}">{{com.commentName}}</a></p>
                    {% endfor %}
                {% endif %}
    </div>
    <script>openPublicationInfoOnLoad()</script>
    {% endif %}
  </div>
  </div>

